*{
    margin:0;
}
.hero{
    background-color: aqua;
    background-image: url(../styles/images/cow.jpg.jpg);
    height:100vh;
    background-position: bottom center;
    background-size:cover
}
.hero h1{
    text-align:center;
    color:aliceblue;
    font-size:100px;
    padding-top:60px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    word-spacing: 40px;
    letter-spacing:4px ;
}

.article{
    width:80%;
    margin:60px auto;
    background-color: antiquewhite;
    padding:60px;
    border:4px solid rgb(211, 230, 173)
}
.article h2{
    text-align:center;
    font-size:35px; 
    border-bottom: 2px solid rgb(168, 192, 121);
    padding-bottom:40px;
    margin-bottom:20px;
    
}